<!DOCTYPE html>
<head>
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="path/to/multiselect.css" media="screen" rel="stylesheet" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<style type="text/css">
		@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
		
		body {
			background-color: #f3f8fa;
			font-family: 'Inter', 'sans-serif';
			color: #103143;
			height: 200;
			display: flex;
			justify-content: center;
		}
		
		input:focus {
			outline: none !important;
		}
		
		.signup-wrap {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		
		.signup-header {
			font-weight: 500;
			font-size: 2rem;
			text-align: left;
			align-self: left;
			margin-bottom: 1.5rem;
		}
		
		.signup-box {
			align-self: center;
			margin: 5rem 0 5rem 0;
			display: flex;
			flex-direction: column;
			padding: 3.5rem 5rem 3.5rem 5rem;;
			background: white;
			border-radius: 20px; 
			border: solid;
			border-width: 1px;
			border-color: #efefef;	
			filter: drop-shadow(0px 1px 4px #dfdfdf);		
		}
		
		.form-box {
			display: flex;
			flex-direction: column;
		}
		
		.form-row {
			display: flex;
			flex-direction: row;
		}
		
		.form-elem {
			display: flex;
			flex-direction: column;
		}
		
		label {
			font-weight: 400;
			font-size: 1.35rem;
		}
		
		.signup-btn {
			background-color: #bbefeb;
			border: 0;
			padding: .85rem 1.75rem .85rem 1.75rem;
			border-radius: 30px;
			margin-bottom: 3rem;
		}
		
		.text-input {
			margin-bottom: 3rem;
			border-radius: 5px;
			border: solid;
			border-width: 1px;
			border-color: #d6d6d6;
			background-color: #fcfcfc;
			height: 2.85rem;
			padding: 0 0 0 .5rem;
		}
		
		.text-input-l {
			margin-bottom: 3rem;
			margin-right: 8rem;
			border-radius: 5px;
			border: solid;
			border-width: 1px;
			border-color: #d6d6d6;
			background-color: #fcfcfc;
			height: 2.85rem;
			padding: 0 0 0 .5rem;
		}
		
		.scrollbox {
		  height: 20rem;
		  overflow-x:scroll;
		  border: solid;
		  border-width: 1px;
		  border-color: #d6d6d6;
		  border-radius: 5px;
		  display: flex;
		  flex-direction: column;
		  margin-bottom: 2rem;
		}
		
		.check-row {
			display: flex;
			flex-direction: row;
			margin: 0 0 .5rem 2rem;
			
		}
		
		.check {
			margin: 0 1rem 5rem 15rem;
		}
		
		.check-label {
			margin-left: 1rem;
			padding-top: .7rem;
		}
		
		a {
			color: #5abfb7;
			text-decoration: underline;
			font-weight: 500;
			align-self: center;
			text-align: center;
		}
	</style>
	
	
</head>

<html>
<body>
  <div class="signup-wrap">
  <div class="signup-box">
  <div class="signup-header">Create Account</div>
  <form class="form-box" action="/createaccount" method="post">
  	<div class="form-row">
  		<div class="form-elem">
		  	<label for="uname">Username</label>
		    <input class="text-input-l" type="text" name="username">
	    </div>
	    <div class="form-elem">
		    <label for="psw">Password</label>
		    <input class="text-input" type="text" name="password">
		</div>
     </div>
     
     <div class="form-row">  
     	<div class="form-elem">
		    <label for="firstname">First Name</label>
		    <input class="text-input-l" type="text" name="firstname">
		 </div>
		 
		 <div class="form-elem">   
		    <label for="lastname">Last Name</label>
		    <input class="text-input" type="text" name="lastname">
		 </div>
    </div>
    
    <label for="email">Email Address</label>
    <input class="text-input" type="text" name="email">
    
    <label for="affil">Affiliation</label>
    <input class="text-input" type="text" name="affiliation">
    
    <label for="bday">Birthday (mm/dd/yyyy)</label>
    <input class="text-input" type="text" name="birthday">
    
    <label for="newsCat"><b>News Categories (select at least 3) </b></label>
    
    <div class="scrollbox" >
    <div class="check-row">
	    <input class="check" type="checkbox" name="mySelect[]" value="Crime">
	    <div class="check-label">Crime</div>
    </div>
    
    <div class="check-row">
		 <input class="check" type="checkbox" name="mySelect[]" value='Entertainment'>
		 <div class="check-label">Entertainment</div>
	 </div>
	 
	 <div class="check-row">
		 <input class="check" type="checkbox" name="mySelect[]" value='World News'>
		 <div class="check-label">World News</div>
	 </div>
	 
	 <div class="check-row">
	  <input class="check" type="checkbox" name="mySelect[]" value='Impact'>
	  <div class="check-label">Impact</div>
	  </div>
	  
	  <div class="check-row">
	 <input class="check" type="checkbox" name="mySelect[]" value='Politics'>
	 <div class="check-label">Politics</div>
	 </div>
	 
	 <div class="check-row">
	 <input class="check" type="checkbox" name="mySelect[]" value='Weird News'>
	 <div class="check-label">Weird News</div>
	 </div>
	 
	 <div class="check-row">
	 <input class="check" type="checkbox" name="mySelect[]" value='Black Voices'>
	 	 <div class="check-label">Black Voices</div>
	 </div>
	 
	 <div class="check-row">
	 <input class="check" type="checkbox" name="mySelect[]" value='Women'>
	 	 <div class="check-label">Women</div>
	 </div>
	 
	 <div class="check-row">
	 <input class="check" type="checkbox" name="mySelect[]" value='Comedy'>
	 	 <div class="check-label">Comedy</div>
	 </div>
	 
	 <div class="check-row">
	 <input class="check" type="checkbox" name="mySelect[]" value='Queer Voices'>
	 	 <div class="check-label">Queer Voices</div>
	 </div>
	 
	 <div class="check-row">
	 <input class="check" type="checkbox" name="mySelect[]" value='Sports'>
	 	 <div class="check-label">Sports</div>
	 </div>
	 
	 <div class="check-row">
	 <input class="check" type="checkbox" name="mySelect[]" value='Business'>
	 	 <div class="check-label">Business</div>
	 </div>
	 
	 <div class="check-row">
	 <input class="check" type="checkbox" name="mySelect[]" value='Travel'>
	 	 <div class="check-label">Travel</div>
	 </div>
	 
	 <div class="check-row">
	 <input class="check" type="checkbox" name="mySelect[]" value='Media'>
	 	 <div class="check-label">Media</div>
	 </div>
	 
	 <div class="check-row">
	 <input class="check" type="checkbox" name="mySelect[]" value='Tech'>
	 	 <div class="check-label">Tech</div>
	 </div>
	 
	 <div class="check-row">
	 <input class="check" type="checkbox" name="mySelect[]" value='Religion'>
	 	 <div class="check-label">Religion</div>
	 </div>
	 
	 <div class="check-row">
	 <input type="checkbox" name="mySelect[]" value='Science'>
	 	 <div class="check-label">Science</div>
	 </div>
	 
	 <div class="check-row">
	 <input type="checkbox" name="mySelect[]" value='Latino Voices'>
	 	 <div class="check-label">Latino Voices</div>
	 </div>
	 
	 <div class="check-row">
	 <input type="checkbox" name="mySelect[]" value='Education'>
	 	 <div class="check-label">Education</div>
	 </div>
	 
	 <div class="check-row">
	 <input type="checkbox" name="mySelect[]" value='College'>
	 	 <div class="check-label">College</div>
	 </div>
	 
	 <div class="check-row">
	 <input type="checkbox" name="mySelect[]" value='Parents'>
	 	 <div class="check-label">Parents</div>
	 </div>
	 
	 <div class="check-row">
	 <input type="checkbox" name="mySelect[]" value='Arts & Culture'>
	 	 <div class="check-label">Arts & Culture</div>
	 </div>
	 
	 <div class="check-row">
	 <input type="checkbox" name="mySelect[]" value='Style'>
	 	 <div class="check-label">Style</div>
	 </div> 
	 
	 <div class="check-row">
	 <input type="checkbox" name="mySelect[]" value='Green'>
	 	 <div class="check-label">Green</div>
	 </div>
	 
	 <div class="check-row">
	 <input type="checkbox" name="mySelect[]" value='Taste'>
	 	 <div class="check-label">Taste</div>
	 </div>
	 
	 <div class="check-row">
	 <input type="checkbox" name="mySelect[]" value='Healthy Living'>
	 	 <div class="check-label">Healthy Living</div>
	 </div>
	 
	 <div class="check-row">
	 <input type="checkbox" name="mySelect[]" value='The Worldpost'>
	 	 <div class="check-label">The Worldpost</div>
	 </div>
	 
	 <div class="check-row">
	 <input type="checkbox" name="mySelect[]" value='Good News'>
	 	 <div class="check-label">Good News</div>
	 </div>
	 
	 <div class="check-row">
	 <input type="checkbox" name="mySelect[]" value='Worldpost'>
	 	 <div class="check-label">Worldpost</div>
	 </div>
	 
	 <div class="check-row">
	 <input type="checkbox" name="mySelect[]" value='Fifty'>
	 	 <div class="check-label">Fifty</div>
	 </div>
	 
	 <div class="check-row">
	 <input type="checkbox" name="mySelect[]" value='Arts'>
	 	 <div class="check-label">Arts</div>
	 </div>
	 
	 <div class="check-row">
	 <input type="checkbox" name="mySelect[]" value='Wellness'>
	 	 <div class="check-label">Wellness</div>
	 </div>
	 
	 <div class="check-row">
	 <input type="checkbox" name="mySelect[]" value='Parenting'>
	 	 <div class="check-label">Parenting</div>
	 </div>
	 
	 <div class="check-row">
	 <input type="checkbox" name="mySelect[]" value='Home & Living'>
	 	 <div class="check-label">Home & Living</div>
	 </div>
	 
	 <div class="check-row">
	 <input type="checkbox" name="mySelect[]" value='Style & Beauty'>
	 	 <div class="check-label">Sylte & Beauty</div>
	 </div>
	 
	 <div class="check-row">
	 <input type="checkbox" name="mySelect[]" value='Divorce'>
	 	 <div class="check-label">Divorce</div>
	 </div>
	 
	 <div class="check-row">
	 <input type="checkbox" name="mySelect[]" value='Weddings'>
	 	 <div class="check-label">Weddings</div>
	 </div>
	 
	 <div class="check-row">
	 <input type="checkbox" name="mySelect[]" value='Food & Drink'>
	 	 <div class="check-label">Food & Drink</div>
	 </div>
	 
	 <div class="check-row">
	 <input type="checkbox" name="mySelect[]" value='Money'>
	 	 <div class="check-label">Money</div>
	 </div>
	 
	 <div class="check-row">
	 <input type="checkbox" name="mySelect[]" value='Environment'>
	 	 <div class="check-label">Environment</div>
	 </div>
	 
	 <div class="check-row">
	 <input type="checkbox" name="mySelect[]" value='Culture & Arts'>
	 	 <div class="check-label">Culture & Arts</div>
	 </div>
	</div>
    
    <input class="signup-btn" type="submit" value="Create Account">
  </form>
  
   <a href="/">Back to Login</a>
  </div>
  
  </div>
</body>
</html>
